/*
possible color palettes
#E1F2F7 - light blue
#EF0D50 - red
#EB3A70 - whitish
#E5BACE - matte pink */

/* i.fab,
i.far {
  font-weight: 400;
} */

html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}