/*
possible color palettes
#F8F8FF - off white
#E1F2F7 - light blue
#EF0D50 - red
#EB3A70 - lighter red
#E5BACE - matte pink */

/* i.fab,
i.far {
  font-weight: 400;
} */

/*  BASIC LAYOUT */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #353839;
  margin: 0;
  background-color: #F8F8FF;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: #353839
}

/*  HEADER   */
header {
  height: 20%;
  width: 100%;
  margin: 0 auto;
}

nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}


header li {
  display: inline-block;
  margin: 15px;

}

.nav-items a {
  color: #353839;
  font-size: 1vw;
  letter-spacing: .5px;
}

.nav-items a:hover {
  color: #EB3A70;
}

.header-container {
  background-color: #E1F2F7;
  /* placeholder...this will be an img instead */
  height: 400px;
  width: 100%;
  position: relative
}

.header-name {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.header-name h1 {
  font-size: 3.5vw;
  padding-bottom: 1vh;
}

.header-name h2 {
  font-size: 1.5vw;
  padding-bottom: 6vh;
}

.about-btn {
  padding: 15px;
  border: solid #353839;
  font-weight: bold;
}

.about-btn:hover {
    border: solid #EB3A70;
    color: #EB3A70;
}


/* PORTFOLIO ON HOMEPAGE */
#portfolio {
  width: 100%;
  height: 100%;
  margin-top: 10vh;
}

.portfolio-header {
  font-size: 2.5vw;
  text-align: center;
  padding: 30px;
}

.portfolio-container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.project-box {
  background: #E1F2F7;
	border-radius: 3px;
	box-shadow: -12px 14px 0px 1px rgba(235,58,112,0.33);
  margin: 0 auto 1.6%;
  overflow: hidden;
}

.project-img {
  height: 300px;
}

.description {
  padding: 0 0 0 5px;
}

.description h5 {
  margin: 0 0 10px 0;
}

.description p {
  margin: 0;
  padding-top: 5px;
}

.description a {
  margin-bottom: 10px;
  padding-right: 5px;
  float: right;
}

.btn-container {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
}

.portfolio-btn {
  padding: 15px;
  border: solid #353839;
  font-weight: bold;
}

.portfolio-btn:hover {
    border: solid #EB3A70;
    color: #EB3A70;
}

/* IMG HOVER */
.hover-img {
  position: relative;
}

.project-img {
  display: block;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.img-overlay--blur {
  backdrop-filter: blur(5px);
}
.img-overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.img-overlay:hover {
  opacity: 1;
}

.img-overlay:hover > * {
  transform: translateY(0);
}

.img-overlay p {
  font-size: 1em;
  font-weight: bolder;
}

/* FOOTER */
footer {
  height: 100px;
  width: 100%;
  display: inline;
  text-align: center;
  font-size: 1vw;
}

footer a.up-arrow {
  display: inline-block;
  width: 100%;

}

footer i {
  font-size: 2vw;
  padding: .5vw;
  margin-top: 1vh;
}

footer a.up-arrow:hover {
  color: #EB3A70;
}

footer a.linkedin:hover {
  color: #0072B1;
}

footer a.github:hover {
  color: #7DBBE6;
}

footer a.instagram:hover {
  color: #C13584;
}

footer a.twitter:hover {
  color: #1DA1F2;
}

footer a.email:hover {
  color: #DD4B39;
}

footer p {
  color: #353839;
  font-size: 1vw;
  letter-spacing: .5px;
  margin-top: 2vh;
}
